﻿@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background: linear-gradient(135deg, #000000, #FFDD00);
            color: #ffffff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            text-align: center;
            padding: 50px;
        }

        .logo {
            width: 200px;
            height: auto;
        }

        .introduction {
            font-size: 20px;
            margin-bottom: 20px;
        }

        a {
            color: #FFDD00;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="container">
        <img class="logo" src="https://i.blogs.es/d86db0/meme-fry-1/450_1000.jpg" alt="Memes Logo">
        <h1 class="display-4">Bienvenidos a la página de progreso 1 de Programación 4</h1>
        <p class="introduction">
            Mi nombre es Mateo Pillajo Guijarro y mi hobbie es jugar fútbol.
        </p>
        

    </div>
</body>
</html>